$theme-colors: (
    "primary": rgba(137, 43, 124, 1),
    "secondary": rgba(43, 137, 56, 1),
    "tertiary": rgba(137, 103, 43, 1),
    "quaternary": rgba(43, 77, 137, 1),
    "light": rgba(239, 242, 245, 1),
    "dark": rgba(15, 27, 47, 1),

    "income": rgba(137, 43, 124, 1),
    "savings": rgba(43, 137, 56, 1),
    "flexible": rgba(137, 103, 43, 1),
    "fixed": rgba(43, 77, 137, 1),
    "grey": rgba(15, 27, 47, 1),
);

$link-color: rgba(137, 43, 124, 1);

$input-focus-border-color: rgba(137, 43, 124, 1);

$form-check-input-checked-bg-color: rgba(137, 43, 124, 1);

$pagination-border-radius: 0;
$pagination-border-radius-sm: 0;

$progress-border-radius: 0.15rem;

$badge-border-radius: 0.15rem;
$badge-font-weight: 300;

@import "../../public/node_modules/bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    accent-color: #892b7c;
}

body {
    padding-bottom: 40px;
}

body.align-items {
    align-items: center;
}

div.header {
    a {
        text-decoration: none;
        color: #000000;

        img {
            margin-right: -1rem;
            margin-top: -0.5rem;

        }
    }
}
nav {

    a.nav-link.active {
        text-decoration: underline;
    }

    a.navbar-brand {
        font-weight: 300;

        img {
            margin-right: -0.35rem;
        }
    }

    .offcanvas-title {
        font-weight: 300;
    }
}

div.budget {
    div.month {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
    }

    div.month-total {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 300;
    }

    div.expense {

        padding-bottom: 0.4rem;

        div.name {
            font-size: 0.8rem;
            text-align: center;
        }

        div.amount {
            font-size: 0.9rem;
            font-weight: 400;
            text-align: center;
        }
    }
}

table {
    thead {
        th {
            font-weight: 300;
        }
    }

    tbody {
        th {
            font-weight: 300;
        }
    }
}