$theme-colors: (
    "primary": rgba(137, 43, 124, 1),
    "secondary": rgba(43, 137, 56, 1),
    "tertiary": rgba(137, 103, 43, 1),
    "quaternary": rgba(43, 77, 137, 1),
    "light": rgba(239, 242, 245, 1),
    "dark": rgba(15, 27, 47, 1),
    "danger": rgb(169, 23, 23),

    "income": rgba(137, 43, 124, 1),
    "savings": rgba(43, 137, 56, 1),
    "flexible": rgba(137, 103, 43, 1),
    "fixed": rgba(43, 77, 137, 1),
    "grey": rgb(122, 122, 124),
);

$link-color: rgba(137, 43, 124, 1);
$input-focus-border-color: rgba(137, 43, 124, 1);
$form-check-input-checked-bg-color: rgba(137, 43, 124, 1);
$pagination-border-radius: 0;
$pagination-border-radius-sm: 0;
$progress-border-radius: 0.15rem;
$badge-border-radius: 0.15rem;
$badge-font-weight: 300;

@import "../../public/node_modules/bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    accent-color: #892b7c;
}

body {
    padding-bottom: 40px;
}

body.align-items {
    align-items: center;
}

fieldset {
    legend {
        font-size: 1.3rem !important;
        font-weight: 300;
    }
}

.form-label {
    font-weight: 475;
}

div.header {
    a {
        text-decoration: none;
        color: #000000;

        img {
            margin-right: -1rem;
            margin-top: -0.5rem;

        }
    }
}
nav {

    a.nav-link.active {
        text-decoration: underline;
    }

    a.navbar-brand {
        font-weight: 300;

        img {
            margin-right: -0.35rem;
        }
    }

    .offcanvas-title {
        font-weight: 300;
    }
}

div.budget {
    div.month {
        font-size: 1.4rem;
        font-weight: 300;
    }

    div.month-total {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
    }

    div.month-totals {

        h3 {
            font-size: 1rem;
            font-weight: 500;
            color: rgb(92, 90, 90);
        }

        h4 {
            font-size: 0.85rem;
            font-weight: 400;
            color: rgba(137, 43, 124, 1);
        }
        h4.total {
            font-size: 0.9rem;
            font-weight: 500;
            color: rgba(15, 27, 47, 1);
        }
        h5 {
            font-size: 1.3rem;
            font-weight: 400;
        }
        h5.total {
            font-size: 1.4rem;
            font-weight: 450;
        }
    }

    a {
        text-decoration: none;

        div.expense {

            margin-bottom: 1rem;

            div.name {
                font-size: 0.7rem;
                text-align: center;
            }

            div.amount {
                font-size: 0.9rem;
                font-weight: 400;
                text-align: center;

                small.disabled-expense {
                    font-size: 0.6rem;
                }

                small.paid-expense {
                    font-size: 0.6rem;
                }
            }

            &:hover {
                background-color: rgba(137, 43, 124, 0.25);
                padding-right: 0.3rem;
                padding-left: 0.3rem;
                box-shadow: $box-shadow;

                div.name {
                    font-weight: 650;
                }

                div.amount {
                    font-weight: 650;
                }
            }

            &.active {
                background-color: rgba(137, 43, 124, 0.25);
                padding-right: 0.3rem;
                padding-left: 0.3rem;

                div.name {
                    font-weight: 650;
                }

                div.amount {
                    font-weight: 650;
                }
            }
        }
    }

    div.budget-projections {

        h4 {
            font-size: 1.5rem;
            font-weight: 300;
            color: rgba(137, 43, 124, 1);
        }

        div.balance {
            font-size: 1.9rem;
            font-weight: 300;

            p {
                font-size: 0.85rem;
            }

            small {
                font-weight: 300;
                font-size: 1.1rem;
            }
        }
    }

    div.balances {

        h3 {
            font-size: 1.9rem;
            font-weight: 300;
            color: rgba(137, 43, 124, 1);
            margin-bottom: 0;
        }

        div.balance {
            font-size: 1.8rem;
            font-weight: 300;

            small {
                font-weight: 300;
                font-size: 1.2rem;
            }
        }
    }
}

div.budget-item {

    font-size: 1.2rem;

    div.label {
        font-weight: 300;
        font-size: 1rem;
    }
}

table {
    thead {
        th {
            font-weight: 300;
        }
    }

    tbody {
        th {
            font-weight: 300;
        }
    }
}